body {
	background-color:#117BCC; 
}

#header { 
	background-color:#378ED1;  
	text-align:left; 
	padding:5px; 
} 

h1 {
	font-family: "cooper black";
	color:white;
}

h2 {
	font-family: "cooper black";
	color:white;
}

h3 {
	font-family: "cooper black";
	color:white;
}

#aaa {
	position: absolute;
    right: 10px;
    padding: 27px;
}

#nav { 
	line-height:30px; 
	background-color:#0761A6; 
	height:500px; 
	width:200px; 
	float:left; 
	padding:5px; 
	text-align: center;
} 

#section { 
	width:350px; 
	float:left;
	padding:10px; 
} 

#img { 
	float:left;
	padding:10px;
	height: 500px;
	width: 700px;
}

#footer { 
	background-color:#378ED1; 
	color:black; 
	clear:both;
	text-align:center; 
	padding:5px;
} 